@page
@model MascotaFeliz.App.Frontend.Pages.VerHistoriaModel
@{

}
<main class="contenedor sombra">
    <div class="titulo">
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
        <h2>Historia de Mascota</h2>
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
    </div>
    <h2> @Model.Mascota.Nombre Fecha Inicio @Model.Mascota.Historia.FechaInicial</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Veterinario</th>
                <th>Temperatura</th>
                <th>Peso (kg)</th>
                <th>Frecuencia Respiratoria</th>
                <th>Frecuencia Cardiaca</th>
                <th>Estado de Animo</th>
                <th>Recom </th>
            </tr>
        </thead>
        @foreach (var x in Model.ListaVisitaspyp)
        {
            <tr>
                <td data-table="Fecha:">@x.FechaVisita</td>
                <td data-table="Veterinario:">@x.IdVeterinario</td>
                <td data-table="Temp:">@x.Temperatura</td>
                <td data-table="Peso:">@x.Peso</td>
                <td data-table="F. Res:">@x.FrecuenciaRespiratoria</td>
                <td data-table="F. Car:">@x.FrecuenciaCardiaca</td>
                <td data-table="E: Animo:">@x.EstadoAnimo</td>
                <td data-table="Recom:">@x.Recomendaciones</td>
            </tr>
        }
        
    </table>
</main>


