@page
@model MascotaFeliz.App.Frontend.Pages.VerHistoriaModel
@{
    ViewData["Title"] = "Home page";
    Layout=null;
    
}
  


    <header>
        <div class="Encabezado_superior">
            
            <div class="titulo">
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
        <h2>Historia de Mascota</h2>
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
        </div>


        </div>
      
    </header>

    <h1 id="listadodemascotas">-@Model.Mascota.Id- @Model.Mascota.Nombre          Fecha Inicio @Model.Mascota.Historia.FechaInicial</h1>

 
    <div class="cajat">
        <table class="tabla">

            <tr>
          
              <th>Fecha</th>
          
              <th>Veterinario</th>
          
              <th>Temperatura</th>

              <th>Peso (kg)</th>

              <th>Frecuencia Respiratoria</th>

            
              <th>Frecuencia Cardiaca</th>
              <th>Estado de Animo</th>
              <th>Recomendaciones </th>
              
            </tr>

            @foreach (var x in Model.ListaVisitaspyp)
            {
                <tr>
                    <td>@x.FechaVisita</td>
                    <td>@x.IdVeterinario</td>
                    <td>@x.Temperatura</td>
                    <td>@x.Peso</td>
                    <td>@x.FrecuenciaRespiratoria</td>
                    <td>@x.FrecuenciaCardiaca</td>
                    <td>@x.EstadoAnimo</td>
                    <td>@x.Recomendaciones</td>

                </tr>

                

                
            }
