@page
@model MascotaFeliz.App.Frontend.Pages.ListarDuenosModel
@{
}
<main class="contenedor sombra">
    <div class="titulo">
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
        <h2>Listado de Dueños</h2>
        <img class="titulo__imagen" src="@Url.Content("~/img/huella.svg")" alt="Huella">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Correo</th>
            </tr>
        </thead>

        @foreach (var dueno in Model.ListarDuenos)
        {
            <tr>
                <td data-table="Nombre: ">@dueno.Nombres</td>
                <td data-table="Apellidos: ">@dueno.Apellidos</td>
                <td data-table="Dirección: ">@dueno.Direccion</td>
                <td data-table="Teléfono: ">@dueno.Telefono</td>
                <td data-table="Correo: ">@dueno.Correo</td>
                <td class="td-button">
                    <div>
                        <a class="table__boton table__boton-detalle" title="Detalles" asp-page="./DetallesDuenos" asp-route-duenoId= "@dueno.Id"></a>
                        
                    </div>
                </td>
                <td class="td-button">
                    <div>
                        <a class="table__boton table__boton-update" title="Editar" asp-page="./AgregarDueno" asp-route-duenoId= "@dueno.Id"></a>
                    </div>

                 </td>
                 <td class="td-button">
                 <div>
                        <a class="table__boton table__boton-borrar" title="Borrar" asp-page="./AgregarDueno" asp-route-mascotaId= "@dueno.Id"></a>
                    </div>
                </td>
                <br>
            </tr>
        }
    </table>
</main>